.flexdown {
    display: flex;
    flex-direction: column;
}
.flexright{
    display: flex;
    flex-direction: row;

}
.navbar{
    width: 100%;
    
    align-items: baseline;
    
}
.navbar h3{
    left: 50px;
}
.mainBody{
    max-width: 1200px;
    justify-content: center;
    padding: auto;
    margin: auto;
}
.articles img{
    width: 200px;
    height: 150px;
    
}
.article{
    padding: 15px;
    /* margin-bottom: 15px; */
    border-bottom: 1px black solid;
}
.article h3:hover{
    cursor: pointer;
}
.article img:hover{
    cursor: pointer;
}
.titleDiv{
    padding:10px;
    margin: 10px;
    justify-content: center;
}
.articles{
    margin: auto; 
}
#home{
    float: left;
    justify-self: left;
}
#title{
    margin: auto;
}
#commentBody{
    width: 600px;
    height: 500px;
}
#commentTitle{
    margin:auto;
}
#commentForm{
    margin: auto;
}
#commentSpan{
    border-bottom: 1px black solid;
    width: 1200px;
}
.comment{
    border-bottom: 1px black solid;
}
.commentTitle{
    border-bottom: 1px black solid;
    width: fit-content;
}